<!DOCTYPE html>
<html id="dashboards_background">
<head>
	<title></title>
		<%= stylesheet_link_tag "dashboards" %>

</head>
<body>

	<div id="side-panel">
		<div id="box"><a href=""><p>Account</p></a></div>
		<div id="box"><a href=""><p>Inbox</p></a></div>
		<div id="box"><a href="/courses/view"><p>Courses</p></a></div>
		<div id="box"><a href="/cohorts/view"><p>Cohorts</p></a></div>
		<div id="box"><a href="/students/view"><p>Students</p></a></div>
		<div id="box"><a href="/instructors/view"><p>Instructors</p></a></div>
		<div id="box"><a href=""><p>Logout</p></a></div>
	</div>

	<div id="avggrades" style="width:50%; height:500px;"></div>


  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">  
  </script>

		<script>

let gpa_cohort1 = <%= @gpa_cohort1 %>;

let gpa_cohort2 = <%= @gpa_cohort2 %>;

$(function () { 
     var myChart = Highcharts.chart('avggrades', {
         chart: {
             type: 'bar'
        },
        title: {
            text: 'Grades By Cohort'
        },
        xAxis: {
            // categories: ['WDF', 'SEI']
        },
        yAxis: {
            title: {
                text: 'GPA'
            }
        },
        series: [{
            name: 'WDF',
            data: [gpa_cohort1]

        }, {
            name: 'SEI',
            data: [gpa_cohort2]
        }]
    });
});

</script> 



</body>
</html>